.gradle
.idea
supervisord.*
xlr-teamcity-plugin.iml
.project
.DS_Store
.pydevproject
.settings
.vscode
bin/
build/
.gradle/
*.iml
*.ipr
*.iws
*.pyc
*.log
supervisord.*
.classpath
src/test/resources/docker/teamcity/
src/test/resources/docker/xlr/
gradle/wrapper/*.zip